<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <title>To Do List</title>
</head>

<body>
    <% if (message != "") { %>
        <%- include('./components/messages', {message: message, type: type})  %>
    <% } %>

    <header>
        <% if (task===null) { %>
            <%- include('./components/form', {
                titleForm: 'TO DO LIST',
                action: 'create',
                idBtn: 'addButton',
                nameBtn: 'Adicionar',
                value: '',
            }) %>
            <% } else { %>
                <%- include('./components/form', {
                    titleForm: "EDITAR TAREFA",
                    action: "updateTask/" + task._id,
                    idBtn: "btnUpdate",
                    nameBtn: "Atualizar",
                    value: task.task,
                }) %>
            <% } %>
    </header>

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task, index)=> { %>
                <li class="check-<%= task.check %>">
                    <div id="infos">
                        <a href="/check/<%= task._id %>" class="check-<%= task.check %>">
                            <%= task.task %>
                        </a>
                        <span>Criado em <%= task.date.toLocaleDateString('pt-br') %> </span>
                    </div>

                    <div class="buttons">
                        <a class="edit" href="/getById/<%= task._id %>/update"><i class="ph-note-pencil"></i></a>
                        <a class="trash" href="/getById/<%= task._id %>/delete"><i class="ph-trash"></i></a>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>

    <% if (taskDelete !=null) { %>
        <%- include("./components/modalDel") %>
    <% } %>

    <script src="/script.js"></script>
</body>

</html>